/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headerBanner {
  display: flex;
  padding: 5rem 2rem;
  background-color: var(--ifm-heading-backogrund-color);
  color: var(--ifm-color-primary-darker);
  align-items: center;
}

.headerBannerInner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.headerBannerTitle {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.headerBannerDescription {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  white-space: pre-wrap;
}

.headerBannerButtonWrapper {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}


.headerBannerButton {
  display: flex;
  padding: .75rem 1rem;
  margin: 1rem 1rem 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  color: var(--ifm-heading-color);
  cursor: pointer;
  background-color: var(--ifm-button-background-color);

  @media screen and (max-width: 767px) {  
    margin: .5rem .5rem 1rem 0;
  }
}

.headerBannerFontColor {
  display: block;
  color: white;
  margin: 0;
}

.headerBannerButton:hover {
  background-color: var(--ifm-button-background-color-hover);
  color: var(--ifm-heading-color);
  text-decoration: none !important;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.docsMain {
  max-width: 1440px;
  width: 100%;
  padding: 3rem 1rem 0 1rem;
  display: flex;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.docsSection {
  width: 33.33%;
  padding: 0 1rem 3rem 1rem;
}

.docsSectionTitle {
  display: flex;
  line-height: 1.2;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  align-items: center;
}

.logoWrapper {
  display: flex;
  margin-right: 0.4rem;
  align-items: center;
  justify-content: center;
}

.docsSectionListContainer {
  margin: 0;
  padding: 0;
  list-style: none;
}

.docsSectionListItem {
  margin: 0.25rem 0;
}

.svg path {
  fill: var(--ifm-heading-color)
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .docsSection {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .docsSection {
    width: 100%;
  }
}
